# Dependencies
node_modules/
.pnp
.pnp.js

# Environment & Venvs
.venv/
env/
venv/
ENV/

# Production & Vercel
.vercel
.output
dist/

# Logs & OS
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo
